<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>PiCar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <div class="row mt-1">
    <h3>
      智能小车
      <span class="tag tag-danger" id="car_connection_status">Offline</span>
    </h3>
  </div>
  <div class="row mt-1">
      小车状态: <span id="car_status">{{ car_state['status_text'] }}</span>
  </div>
  <div class="row mt-1">
      当前温度: <span id="temperature">{{ car_state['temperature'] }}</span>ºC
  </div>
  <div class="row mt-1" >
      当前湿度: <span id="humidity">{{ car_state['humidity'] }}</span>%
  </div>
  <div class="row mt-1">
    <div class="col-xs-4 offset-xs-4">
      <button id="car_forward" class="btn btn-outline-primary btn-lg btn-block">前进</button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-xs-4">
      <button id="car_turnleft" class="btn btn-outline-primary btn-lg btn-block">左转</button>
    </div>
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
      <button id="car_turnright" class="btn btn-outline-primary btn-lg btn-block">右转</button>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-xs-4 offset-xs-4">
      <button id="car_backward" class="btn btn-outline-primary btn-lg btn-block">后退</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-xs-10 offset-xs-1">
      <button id="car_stop" class="btn btn-danger btn-lg btn-block">停止</button>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/tether/1.3.7/js/tether.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
      console.log('socket connected');
      $('#car_connection_status').removeClass('tag-danger')
          .addClass('tag-success').text('Online') ;
    });
    socket.on('disconnect', function () {
      console.log('socket disconnected');
      $('#car_connection_status').removeClass('tag-success')
          .addClass('tag-danger').text('Offline') ;
    });
    socket.on('car_info', function (data) {
      console.log(data);
      $('#car_status').text(data.status_text);
      $('#temperature').text(data.temperature);
      $('#humidity').text(data.humidity);
    });

    buttonActions = [{
      'id': 'car_forward',
      'mousedown': 'forward',
      'mouseup': 'stop'
    }, {
      'id': 'car_backward',
      'mousedown': 'backward',
      'mouseup': 'stop'
    }, {
      'id': 'car_turnleft',
      'mousedown': 'turnleft',
      'mouseup': 'stop'
    }, {
      'id': 'car_turnright',
      'mousedown': 'turnright',
      'mouseup': 'stop'
    }, {
      'id': 'car_stop',
      'mousedown': 'stop'
    }];
    buttonActions.forEach(function (action) {
      if (action.mousedown !== undefined && action.mousedown !== '') {
        $('#' + action.id).mousedown(function () {
          socket.emit('car_action', action.mousedown);
        });
      }
      if (action.mouseup !== undefined && action.mouseup !== '') {
        $('#' + action.id).mouseup(function () {
          socket.emit('car_action', action.mouseup);
        });
      }
    });
  });
</script>
</body>
</html>